{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Cache-Control" content="max-age=259200, must-revalidate" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	 	<meta name="description" content="" />
        <meta name="keywords" content='' />
        <title>Comp stats</title>

        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />

        <!--SCRIPTS-->
        <script type="text/javascript" src="{% static 'js/jquery-1.5.2.min.js'%} "></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.11.custom.min.js' %}"></script>
        <script src="{% static 'js/jquery.tooltip.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/tiny_mce.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fd_map.js' %}"></script>
               				<!--END OF SCRIPTS-->
                <!--TINY MCE-->
        <script type="text/javascript">
			tinyMCE.init({
					// General options
					mode : "textareas",
					theme : "advanced",
					plugins : "table,advimage,advlink,table,media,paste",
					// Theme options
					theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
					theme_advanced_buttons2 : "pastetext,pasteword,|,search,replace,|,bullist,numlist,|,undo,redo,|,link,unlink,anchor,image,cleanup,code,|,forecolor,backcolor",
					theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media",
					theme_advanced_toolbar_location : "top",
					theme_advanced_toolbar_align : "left",
					theme_advanced_statusbar_location : "bottom",
					theme_advanced_resizing : true,

					// Skin options
					skin : "o2k7",
					skin_variant : "silver",

					// Example content CSS (should be your site CSS)
					content_css : "css/example.css",
					 convert_urls : false
				});
				var base_url = "";
		</script>
        <!--END OF TINY MCE-->
            </head>
	<body>

    <div class='map_lft'>
        <table id='map'>
        {% for row in table %}
        <tr>
            {% for comp in row %}
                <td>
                    {% if comp.exist == 1 %}
                        <span title = '{{ comp.title }}' class='{{ comp.bg_class }}'>{{ comp.num }}</span>
                    {% elif comp.exist == 0 %}
                        <span title = '' class='comp bg_off'>{{ comp.num }}</span>
                    {% endif %}
                </td>
            {% endfor %}
        <td><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
    {% endfor %}
    </table>
    </div>


</body>
</html>